
<!--<div class="container px-5 px-sm-0">-->

<!--  <div class="row">-->

<!--    <div class="col-md-3">-->
      <!--ユーザ情報-->
      <h1>User info</h1>

      <%= attachment_image_tag user, :profile_image,:fill,100,100,format:'jpeg', fallback: "no_image.jpg" %>

      <div class="profile-container">

          <table>
            <tr>
              <td>name</td>
              <td><%= user.name %></td>
            </tr>
            <tr>
              <td>introduction</td>
              <td><%= user.introduction %></td>
            </tr>
          </table>

        <% if @user.id == current_user.id %>
          <button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to "プロフィール編集", edit_user_path(@user) %></button>
        <% end %>

      </div>



      <!--本新規投稿-->
      <h1>New book</h1>

      <%= form_with model:book, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <P><%= f.submit 'Create Book', class:"btn-success" %></p>
      <% end %>

    <!--</div>-->

    <!--<div class="col-md-8">-->
    <!--</div>-->

<!--  </div>-->

<!--</div>-->