    <% if @book.errors.any? %>
      <% @book.errors.full_messages.each do |message| %>
        <p>error</p>
        <span><%= message %></span>
      <% end %>
    <% end %>

      <!--ユーザ情報-->
      <h1>User info</h1>

      <%= attachment_image_tag user, :profile_image,:fill,100,100,format:'jpeg', fallback: "no_image.jpg" %>

      <div class="profile-container">

          <table class="table">
            <tr>
              <td>name</td>
              <td><%= user.name %></td>
            </tr>
            <tr>
              <td>introduction</td>
              <td><%= user.introduction %></td>
            </tr>
          </table>

        <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do %>
          <% if @user.id == current_user.id %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>

      </div>

      <!--本新規投稿-->
      <h1>New book</h1>

      <%= form_with model:book, local:true do |f| %>
        <div class="mb-3">
          <lavel>Title</lavel><br>
          <%= f.text_field :title %><br>
        </div>
        <div class="mb-3">
          <lavel>Opinion</lavel><br>
          <%= f.text_area :body %>
        </div>
        <p><button type="submit" class="btn btn-success">Create Book</button></p>
      <% end %>
