
      <!--ユーザ情報-->
      <h1>User info</h1>

      <%= attachment_image_tag user, :profile_image,:fill,100,100,format:'jpeg', fallback: "no_image.jpg" %>

      <div class="profile-container">

          <table class="table">
            <tr>
              <td>name</td>
              <td><%= user.name %></td>
            </tr>
            <tr>
              <td>introduction</td>
              <td><%= user.introduction %></td>
            </tr>
          </table>

        <% if @user.id == current_user.id %>
          <button type="button" class="btn btn-outline-secondary btn-sm"><%= link_to "プロフィール編集", edit_user_path(@user) %></button>
        <% end %>

      </div>

      <!--本新規投稿-->
      <h1>New book</h1>

      <%= form_with model:book, local:true do |f| %>
        <div class="mb-3">
          <lavel>Title</lavel><br>
          <%= f.text_field :title %><br>
        </div>
        <div class="mb-3">
          <lavel>Opinion</lavel><br>
          <%= f.text_area :body %>
        </div>
        <P><%= f.submit 'Create Book', class:"btn btn-success" %></p>
      <% end %>
