<!--サクセス・エラーメッセージ-->
<%= render 'devise/shared/message' %>
<!---->

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

<!--部分テンプレート-->
<%= render 'devise/shared/left', user:@user, book:@book %>
<!---->

    </div>
<div class="col-md-8">

<h1>Book detail</h1>

<table>
  <tr>
    <td>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg" %>
      <p><%= link_to @user.name, user_path(@user.id) %></p>
    </td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <td><button type="button" class="btn btn-success btn-sm"><%= link_to 'Edit',edit_book_path(@book.id), :style=>"color:#fff;" %></button></td>
    <td><button type="button" class="btn btn-danger btn-sm"><%= link_to 'Destroy',book_path, method: :delete, "data-confirm" => "本当に削しますか？", :style=>"color:#fff;" %></button></td>
   </tr>
</table>

 </div>
 </div>
</div>